body {
  color: white;
  background-color: #1e1e1e;
}

h1 {
  color: white;
  padding-bottom: 10px;
}

h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    color: white;
    text-rendering: optimizelegibility;
}

.box {
    position:relative;
}

.bottom-title {
    color: #333;
    position:absolute;
    font: italic bold 40px Arial;
    bottom:0;
    left:10px;
}

a, a:visited, a:active {
  color: white;
}

#playground {
  width: 1400px;
  height: 800px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

#view_selection {
  margin-top: 10px;
}

.top_labels {
  font-size: 14px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #222;
	opacity: .9;
	color: #eeeeee;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
   font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

#hackyTable {
 position:relative;
}

#group-title {
    font-size: 22px;
    text-align:center;
}

#right-sidebar {
    display:none;
    position:absolute;
    width:200px;
    top:0;
    right:10px;
}

#right-sidebar-container {
    color: #afafaf;
    width:200px;
    background-color:rgba(50,50,50,0.0);
}

#right-sidebar select {
    width:160px;
}

#right-sidebar-toggle-div {
    text-align:left;
}

#left-sidebar {
    display:none;
    position:absolute;
    top:0;
    left:1300px;
    width:100px;
    background-color: #1e1e1e;
}

#left-sidebar h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: normal;
    line-height: 120%;
    color: white;
    text-rendering: optimizelegibility;
}

#clear_filters {
    text-align:right;
    float:right;
}

#filter-list {
    height: 600px;
    overflow-x: hidden;
}

.widecontainer {
    margin-top:20px;
    width:1400px;
    margin-left:auto;
    margin-right:auto;
}

.sub-filter-block {
    padding-left:10px;
}


.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e2e2e;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  font-size: 36px;
  right: 10px;
  top: 5px;
}
